body {
    background-color: #f7e4d7;
}

.headline {
    background-color: #684725;
    color: wheat;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}

.logo {
    width: 50px;
    border-radius: 10px;
    background-color: wheat;
}

/* -------- seacrh area ---------- */
.search-func {
    margin: 20px 0px 30px 0px;

}

#search-input {
    background-color: wheat;
    border: none;
    border: 1px solid #684725;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    width: 100%;
}

.search-btn {
    background-color: #684725;
    color: wheat;
    border: none;
    border-radius: 5px;
    padding: 3px 15px 3px 15px;
    margin-left: 10px;
}

.search-btn:hover {
    background-color: #845b33;
}

/* ======= search result area ========*/

.perPhone {
    margin-top: 50px;
}

.perPhoneCard {
    background-color: #d9b692;
}

.perPhoneDetails {
    background-color: #684725;
    color: wheat;
}

.perPhoneIMG {
    border-radius: 10px;
}

/* ============ phone details section */
.phoneDetailsCard {
    background-color: #e2b08c;
}

.details-section {
    background-color: #c67d43;
    color: wheat;
}

span {
    font-weight: 600;
}

.others-details {
    background-color: #c67d43;
    color: wheat;
}